<Archive name="New Archive" path="D:/Code/Java/IntelliJ/Archive Utility/TestArchiveLocation/" />
<Archive name="Test Archive 2" path="D:/Code/Java/IntelliJ/Archive Utility/TestArchiveLocation/" />
<Archive name="ASDFQWECZXD" path="D:/Code/Java/IntelliJ/Archive Utility/TestArchiveLocation/" />
<Archive name="Ziggs" path="D:/Code/Java/IntelliJ/Archive Utility/TestArchiveLocation/" />
<Archive name="Monolith" path="D:/Code/Java/IntelliJ/Archive Utility/TestArchiveLocation/" />
<MonitoredGroup name="New Group" archive="Ziggs" archiveInterval="" lastArchived="" >
	<MonitoredItem path="K:\Temp\testArchive\testArchive\asdfasdf\a.txt" relativePath="testArchive/asdfasdf/a.txt/" exclude="false" includeSubfolders="true" />
	<MonitoredItem path="K:\Temp\testArchive\testArchive\asdfasdf\b.txt" relativePath="testArchive/asdfasdf/b.txt/" exclude="false" includeSubfolders="true" />
</MonitoredGroup>